@import "tailwindcss";


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
} */

@theme {
  --text-sm: 0.8rem;
  --breakpoint-xs: 20rem;
}

body {
  /* font-family: "Roboto", sans-serif; */
  /* color: #35373a; */
  /* font-family: "Geist", sans-serif; */
  font-size: 0.9rem;
  /* position: relative; */
}

@layer components {
  .wrapper {
    @apply w-[95%] mx-auto;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .gray {
    @apply bg-[#f3eed9];
    @apply bg-[#F5F4F2];
    /* @apply bg-zinc-100 */
    /* @apply bg-gray-100 */
  }

  .panel {
    @apply bg-white h-full max-h-125 p-4 rounded-2xl w-full overflow-scroll no-scrollbar
  }

  .page {
    @apply flex flex-col gap-4 pb-4;
  }

  .form-label {
    @apply text-xs text-neutral-800 capitalize
  }

  .input {
    @apply w-full bg-[#F5F4F2] p-2 rounded-lg focus:outline-none text-neutral-800 text-sm;
  }

  .input-error {
    @apply text-red-500 text-xs font-semibold h-4
  }


  .content-grid {
    @apply gap-8;
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (min-width: 640px) {
      @apply gap-12;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: 1536px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}


@utility no-scrollbar {
  @apply scrollbar-none [&::-webkit-scrollbar]:hidden;
}